.home_container {

    display: flex;
    justify-content: center;
    align-items: center;
}


.home {
    display: flex;
    justify-content: flex-start;
    width: 75%;
    flex-direction: column;

}

.home1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    margin-bottom: 1.5rem;

}

.p1 {
    color: #0a4cb6;
    line-height: 1.7rem;

}

.p2 {
    line-height: 4.5rem;
    font-size: 2.5rem;
    font-weight: 700;
}

.p3 {

    line-height: 2rem;
}



.home2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


/*code for making our web page responsive to all devices*/
@media screen and (max-width:768px) {
    .p2 {
        line-height: 2.5rem;
        font-size: 1.5rem;
        font-weight: 700;
    }

    .home2 {

        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width:360px) {
    .p2 {
        font-size: 1.2rem;
    }
}