.home1{
    /* width: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
}


.home {
    display: flex;
    justify-content: flex-start;
    /* align-items: center; */
    width: 85%;
    /* margin: 1.5rem; */
    flex-direction: column;
    /* border: 2px solid green; */
}

.home_container1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    /* grid-template-rows:1fr 1fr 1fr; */
    /* place-items: start; */
   /* margin-left:3.5rem; */
   margin-bottom: 1.5rem;
/* line-height: 2rem; */
}

.p1 {
    color:#0a4cb6;
    line-height: 1.7rem;
    /* display: grid;
    grid-row: 1/2; */
}

.p2 {
    line-height: 4.5rem;
   font-size: 2.5rem;
   font-weight: 700;
     /* display: grid;
    grid-row: 2/3; */
}

.p3 {
    
    line-height: 2rem;
    /* display: grid;
    grid-row: 3/4; */
}



.home_container2 {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* margin-left:5.5rem; */
    align-items: center;
}

@media screen and (max-width:768px) {
    .p2{
        line-height: 2.5rem;
        font-size: 1.5rem;
        font-weight: 700;       
    }
    .home_container2{
        /* width: 100%; */
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width:360px){
    .p2{
        font-size: 1.2rem;
    }
}